:root {
  --primary-color: #a0232a;
  --secondary-color: #db8b93;
  --tertiary-color: #f5c4c4;
  --light-gray: #edf0f3;
  --dark-gray: #333e48;
  --dark-gray-reduced: #333e4880;
  --blue-gray: #7890c4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  gap: 1rem;
}

p {
  margin: 0;
}

input {
  &:focus {
    outline: none;
  }
}
